.card-deck .card{
	margin: 30px 30px 30px 30px;
	height: 400px;
}

.card-deck .card-img-top {
	height: 200px;
}

.card-single {
	text-align: center;
}

.card-single .card-img-top {
	height: 400px;
	width: 696px;
}