%h1 Toutes les séries
- @series.in_groups_of(3, false).each do |group_of_3_series|
  .card-deck
    - group_of_3_series.each do |serie|
      .card
        %img.card-img-top{:alt => "Pas d'image associé", :src => serie.profile_image}/
        .card-body
          %h5.card-title 
            = serie.title
          %p.card-text 
            = truncate(serie.description, length: 190)
            = link_to "En savoir plus", serie_path(serie)
        .card-footer
          %small.text-muted 
            = link_to serie.title, serie_path(serie)