-# %h2{:align => "center"}
-#   .serie-profile-image
-#     = image_tag @serie.profile_image
%h1.card-title
  = @serie.title
.card-single
  %img.card-img-top{:alt => "Pas d'image associé", :src => @serie.profile_image}/
  .card-body
    %p.card-text 
      = @serie.description